:root {
  //colors---------------
  --Rich-Blue: #5457b6;
  --Froly: #ed6468;
  --Lavender-Blue: #c3c4ef;
  --Light-Pink: #ffb8bb;
  --Madison: #324152;
  --Raven: #67727e;
  --Solitude: #eaecf1;
  --Ghost-White: #f5f6fa;
  --White: #ffffff;
  //font weight--------------------
  --light: 300;
  --regular: 400;
  --medium: 500;
  --bold: 700;
  //font size-------------------
  --size-xxs: 8px;
  --size-xs: 10px;
  --size-xs-sm: 11px;
  --size-sm: 12px;
  --size-xm: 14px;
  --size-md: 16px;
  --size-xmd: 18px;
  --size-lg: 20px;
  --size-xlg: 24px;
  --size-xxlg: 26px;
}