/* You can add global styles to this file, and also import other style files */
@use 'styles/variables';
@use 'styles/utils';

body {
    background-color: var(--Solitude);
    font-family: "Rubik", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: var(--regular) !important;
    font-style: normal;
    margin: 0;
}