.response-box{
 padding-bottom: 10px;
  .white-box{
    background: #fff;
    padding: 20px;
    border-radius: 5px;
  }
  &--update{
    .white-box{
      padding: 0;
    }
   img{
     display: none;
   }
    &__action{
      padding-top: 20px;
      display: flex;
    }
  }
}
